In [1]:
import pandas as pd

In [2]:
chrom_pos_marker = pd.read_csv("chrom_pos_marker_id.tsv",sep="\t",names=["chrom","pos","marker_id"])

   chrom  pos marker_id
0      1   73      73_1
1      1   92      92_1

In [3]:
genes = pd.read_csv("genes_bed_with_names.tsv",sep="\t",names=["chrom","start","end","gene"])

  chrom  start   end       gene
0     1   3631  5899  AT1G01010
1     1   5928  8737  AT1G01020

In [7]:
# to collect gene as key and marker as values
gene_to_marker_dict = {}

# two loops
# outer loop iterates over each Arabidopsis gene
# inner loop iterates over each marker
for i in range(0,3,1): 
    # collect the chromosome + positions of gene number i
    row = genes.iloc[i,:]
    chrom_gene = row["chrom"]
    start_gene = row["start"]
    end_gene   = row["end"]
    gene       = row["gene"]
    
    print("working on gene:",gene)
    
    # find chromosome of gene and filter the chrom_pos_marker dataframe
    chrom_pos_marker_filtered = chrom_pos_marker.query('chrom == @chrom_gene')
    
    # is the SNP marker position between start and end position of the gene number i?    
    for j in range(0,chrom_pos_marker_filtered.shape[0],1):
        marker_j = chrom_pos_marker_filtered.iloc[j,:]
        if start_gene <= marker_j["pos"] <= end_gene:
            gene_to_marker_dict[gene] = marker_j["marker_id"]

working on gene: AT1G01010
working on gene: AT1G01020
working on gene: AT1G01030
working on gene: AT1G01040
working on gene: AT1G01046
working on gene: AT1G01050
working on gene: AT1G01060
working on gene: AT1G01070
working on gene: AT1G01073
working on gene: AT1G01080

In [9]:
genes_with_marker = pd.DataFrame.from_dict(gene_to_marker_dict, orient = "index",columns=["marker_id"])
genes_with_marker.reset_index(level = 0, inplace = True)
genes_with_marker = genes_with_marker.rename(columns={"index":"gene"})
genes_with_marker

        gene marker_id
0  AT1G01010    5685_1
1  AT1G01020    8329_1
2  AT1G01030   13538_1
3  AT1G01040   31223_1
4  AT1G01046   28525_1
5  AT1G01050   32854_1
6  AT1G01060   37868_1
7  AT1G01070   40854_1
8  AT1G01073   44778_1
9  AT1G01080   46935_1

In [10]:
genes_with_marker.to_csv("genes_with_marker_id.tsv", sep = "\t")